html{
    font-size: 62.5%;
}
body {
    font-family: 'Merriweather', serif;
    margin: auto;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.3rem;
}
:root{
    --primary-color: #6976D9;
    --secondary-color: #fff ;
    --hover-color: #EDEFFF;
    --text-color: #495057;
    --hover-aside: #DFDCF8;
    --danger-color:#F45449;
    --success-color:#5CB660;
    --warning-color:#ffc107;
    --pink-badge: #E71A93;
    --btn-primary-color:#0069d9;
    --primary-hover:#5a8ec7;
    --btn-secondary-color:#6c757d;
    --secondary-hover: #889199;
    --success-hover:#7ac57e;
    --danger-color: #dc3545;
    --danger-hover:#e65f6c;
    --warning-hover:#FEB244;
    --info-color:#17a2b8;
    --info-hover:#51ccdf;
    --bestseller-badge:#8C14E7;
    --card-text-color:#6200EE;
    --card-sub-text:#9D9D9D;
    --alert-primary:#cce5ff;
    --alert-hover:#b8daff;
    --alert-secondary:#e2e3e5;
    --alert-sec-hover:#d6d8db;
    --alert-success:#d4edda;
    --alert-success-hover:#c3e6cb;
    --alert-danger:#f8d7da;
    --alert-danger-hover: #f5c6cb;
    --alert-warning: #fff3cd;
    --alert-warning-hover: #ffeeba;
    --primary-snackbar-color: #333333;
    --btn-snackbar-baseline: #6e14ef;
    --btn-snackbar-hover: #414141;
}