/* Navbar styles  */
.navbar {
    width: 100%;
}

.navbar__items-container {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--btn-primary-color);
    margin-left: -5px;
    font-size: 1.5rem;
    border-radius: 4px;
    color: var(--secondary-color);
}

.brand {
    font-weight: 900;
}

.navbar__list-items {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem;
}

.nav__item {
    display: inline-block;
    width: 4rem;
    padding: 0.5rem;
}

.nav__link {
    text-decoration: none;
    transition: 0.5s;
    padding: 5px 1rem;
    border-radius: 4px;
}

.nav__link:hover {
    background-color: var(--primary-hover);
}

.nav-frame {
    height: 70rem;
}

/* Navigation Submenus */
.navbar {
    overflow: hidden;
    background-color: var(--alert-primary);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--primary-snackbar-color);
    text-align: center;
    padding: 8px 6px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--primary-snackbar-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: var(--primary-hover);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 32.8%;
    background-color: var(--primary-hover);
    width: 56%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: var(--secondary-color);
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: var(--hover-color);
    color: var(--primary-snackbar-color);
}

.subnav:hover .subnav-content {
    display: block;
}